<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./model.css" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- Header of the PDF -->
    <header>
      <h1>Pix Sorteios</h1>
      <p><%= date_sort %></p>
    </header>

    <!-- Main Section of the PDF -->
    <main>
      <p>Número De Cartelas Geradas: <%= number_of_cards %></p>
      <p>Preço unitário: <%= unit_price %></p>
      <p>Range dos números: <%= min %> - <%= max %></p>
      <p>
        Quantidade de números aleatórios por cartela: <%= amount_random_number
        %>
      </p>
      <p>Data marcada para o sorteio: <%= date_sort %></p>

      <h2>Cartelas:</h2>

      <ul>
        <% values_sorted.forEach((card) => { %>
        <li>
          <p>Números:</p>
          <p>
            <% card.forEach((random_number) => { %>
              <h3><%= random_number %></h3>
            <% }) %>
          </p>
        </li>

        <% }) %>
      </ul>
    </main>

    <!-- Footer of the PDF -->
    <footer></footer>
  </body>
</html>
